.container {
    text-align: center; /* 내용물을 가운데 정렬합니다. */
    padding: 10px;
  }
  
  .container h1 {
    margin-bottom: 10px; /* 제목과 버튼 사이의 간격을 조절합니다. */
  }
  
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px; /* 버튼과 차트 사이의 간격을 조절합니다. */
  }
  
  .container button {
    margin: 0 10px; /* 버튼 사이의 간격을 조절합니다. */
  }

  .chart-container {
    width: 800px;
    margin: 30px auto; /* 차트를 가운데 정렬합니다. */
  }