.table {
    width:100%;
    border-collapse: collapse;
    margin-left:8px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
  }
  .result-button{
    margin-left:8px;
    margin-top:8px;
  }