<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>Edit Comment</title>
</head>

<body>
<form th:action="@{|/comment/edit/complete/${comment.id}|}" method="post">

    <div>
        <p><span th:text="${comment.writer}" /></p>
    </div>
    <div>
        <div>
            <label for="newContent">newContent:</label>
            <textarea id="newContent" name="newContent" rows="4" cols="50" th:text="${comment.body}"></textarea>
        </div>
    </div>
    <div>
        <input type = "submit" value="Save Edited Comment">
    </div>
    <div>
        <p><span th:text="${comment.date}" /></p>
    </div>

    <div>
        <input type="submit" value = "Fix Comment">
    </div>
</form>
</body>
