<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <title>Edit Issue</title>
</head>

<body>
<form th:action="@{|/issue/edit/complete/${issue.id}|}" method="post">
  <div>
    <span id="currentState" th:text="${issue.state}" style="display: none;"></span>
    State:
    <select id="state" name="state">
      <option value="NEW">New</option>
      <option value="ASSIGNED">Assigned</option>
      <option value="FIXED">Fixed</option>
      <option value="RESOLVED">Resolved</option>
    </select>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var stateSelect = document.getElementById('state');
        var currentState = document.getElementById('currentState').innerText;

        console.log(currentState);
        if (currentState === 'NEW') {
          stateSelect.innerHTML = '<option value="NEW" selected>New</option>';
        } else {
          console.log(currentState);
              stateSelect.remove(0);
        }
      });
    </script>
  </div>

  <div>
    <div>
      <p>Title: <span th:text="${issue.title}" /></p>
    </div>
  </div>
  <div>
    <p>Date: <span th:text="${issue.date}" /></p>
  </div>
  <div>
    <p>Reporter ID: <span th:text="${issue.ReporterID}" /></p>
  </div>
  <div>
    <div>
      <label for="newDescription">Edit Description: </label>
      <textarea id="newDescription" name="newDescription" rows="4" cols="50" th:text="${issue.getIssueDescription()}"></textarea>
    </div>
  </div>
  <div>
    <input type = "submit" value="Save Edited Issue">
  </div>
</form>
</body>
