<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Issue details</title>
</head>
<body>
<form action="#" method="post">
    <div>
        <label>Status:</label>
        <p><span th:text="${swengineering.team7.issuemanagementsystem.entitiy.Issue.state}" /></p>
    </div>
    <div>
        <p><span th:text="${swengineering.team7.issuemanagementsystem.entitiy.Issue.title}" /></p>
    </div>
    <div>
        <p><span th:text="${swengineering.team7.issuemanagementsystem.entitiy.Issue.date}" /></p>
    </div>
    <div>
        <p><span th:text="${swengineering.team7.issuemanagementsystem.entitiy.Issue.reporter}" /></p>
    </div>
    <div>
        <p><span th:text="${swengineering.team7.issuemanagementsystem.entitiy.Issue.issueDescription}" /></p>
    </div>
    <div>
        <input type="submit" value = "Fix">
    </div>
</form>
<hr />
<div>
    <h3>Comments:</h3>
    <div th:each="comment : ${swengineering.team7.issuemanagementsystem.entitiy.Issue.comments}">
        <div>
            <p><span th:text="${comment.writer}" /></p>
        </div>
        <div>
            <p><span th:text="${comment.body}" /></p>
        </div>
        <div>
            <p><span th:text="${comment.date}" /></p>
        </div>
        <div>
            <input type="submit" value = "Fix Comment">
        </div>
    </div>
</div>
<hr />
<div>
    <form th:action="@{|/comments/create/${swengineering.team7.issuemanagementsystem.entitiy.Issue.id}|}" method="post">
        <div>
            <label for="newComment">Comment:</label>
            <textarea id="newComment" name="newComment" rows="4" cols="50"></textarea>
        </div>
        <input type="submit" value = "Add Comment">
    </form>
</div>
</body>
</html>